[class^="weather-card"] {
  background-color: var(--color-card-bg);
  border-radius: 1rem;
}

.weather-data__container {
  display: flex;
  gap: 2rem;
}

/* Search */

.search-group {
  position: relative;
  width: max-content;
  width: 100%;
  max-width: 45rem;
}

.search-auto-complete {
  position: absolute;
  display: none;
  top: 95%;
  border-radius: 0.5rem;
  width: 100%;
  background-color: var(--color-card-bg);
  padding: 0.7rem 0.5rem;
  display: none;
}

.active {
  display: block;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out;
}

.fade-out {
  animation: fade-out 0.3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-5%);
  }
}

.search-auto-complete li {
  button {
    font: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--color-main);
    width: 100%;
    text-align: left;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: var(--color-card-bg-hover);
    }
  }
}

#input-search {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: var(--color-card-bg);
  width: 100%;
  margin-block: 1.5rem;

  &:focus {
    outline: 1px solid var(--color-sub);
  }
}

#input-search,
#input-search::placeholder {
  color: var(--color-main);
}

/* Weather Today */

.weather-today {
  flex: 1;
  display: grid;
  gap: 1.5rem;
}

.weather-today__location {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 3.5rem;
  height: 14rem;
}

.location__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 30rem;
  container: details / inline-size;
}

@container details (max-width: 300px) {
  #location-name {
    font-size: clamp(1.75rem, calc((100cqw - 50px) * 0.16), 2.5rem);
  }

  #location-temp {
    font-size: clamp(2.75rem, calc((100cqw - 50px) * 0.22), 3.5rem);
  }
}

#location-temp::after {
  content: "°";
}

.details-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.location__weather-image-container {
  height: 100%;
  aspect-ratio: 1/1;
  background-color: gray;
  color: transparent;
}

/* Today Forecast */
.weather-card__todays-forecast {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.75rem 2rem;
}

.todays-forecast__list {
  display: flex;
}

.todays-forecast__list li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.todays-forecast__list li:not(:last-child) {
  border-right: 1px solid var(--color-border);
}

.todays-forecast__image {
  color: transparent;
  width: 3rem;
  background-color: gray;
  color: transparent;
  aspect-ratio: 1/1;
}

/* Today Air Conditions */
.weather-card__air-conditions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.75rem 2rem;
}

.air-conditions__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.air-conditions__list li {
  display: flex;
}

.temp-icon,
.wind-icon,
.rain-icon,
.uv-icon {
  color: transparent;
  width: 2rem;

  svg {
    width: 100%;
    height: max-content;
    display: flex;
  }
}

.temp-icon path {
  stroke: var(--color-sub);
}

.wind-icon svg path {
  fill: var(--color-sub);
  transform: scale(0.8);
}

.rain-icon svg {
  fill: var(--color-sub);

  path {
    transform: translateX(10%) scale(0.8);
  }
}

.uv-icon svg path {
  fill: var(--color-sub);
  transform: scale(1.3) translate(-22%, -13%);
}

.air-conditions__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#air-conditions-feel::after {
  content: "°";
}

#air-conditions-wind::after {
  content: " mph";
}

#air-conditions-rain::after {
  content: "%";
}

/* 7-day forecast */
.weather-card__forecast {
  padding: 2rem;
  width: 26rem;
}

.forecast-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 100%;

  li {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }

  .forecast-weather {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .weather-img-container {
    aspect-ratio: 1/1;
    width: 2rem;

    background-color: gray;
    color: transparent;
  }
}

@media screen and (max-width: 68.75em) {
  .weather-data__container {
    flex-direction: column;
  }

  .weather-card__forecast {
    width: 100%;
  }
}
